# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
# However, we want to include terraform.tfvars in version control
*.tfvars
*.tfvars.json
!terraform.tfvars

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
#
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform.*



# ignore files temporarily created for testing
import_vnet_minimal.sh
import_vnet_only.sh
import.sh

main.tf.old
terraform.tfvars.old
variables.tf.old

appgw_import_prompt.txt
appgw.tfvars.old

README_APPGW_IMPORT.md

**/import_temp/*